
  
  body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(5, 5, 5, 0.904);
  }
  
  input {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 480px;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    background-color: whitesmoke;
    box-shadow:4px 4px 10px rgba(240, 236, 236, 0.87);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

  }
  
  input:focus {
    outline: none;
  }
  
  li {
    text-align: left;
    font-size: 25px;
    list-style: none;
    margin: 0;
    color: whitesmoke;
  }
  
  li:hover {
    text-decoration: line-through;
  }

  .menu {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    text-align: center;
    box-shadow:4px 4px 15px rgba(47, 34, 224, 0.425);
    padding: 15px;
    height: 500px;
    width: 700px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    border-radius: 15px;
    background-color: #3388c1;
    background-image: linear-gradient(135deg, #3a81b1 32%, #5e64cf 100%);



  }